<ion-view view-title="درباره ما">
  <ion-content  scrollbar-y="true">
    <div class="container">
      <!--<div class="headline">-->
        <!--<img src="img/intro-detail.png">-->
      <!--</div>-->
      <div class="content">
      <p>سلام</p>
      <p>درود بر همه ی کسانی که روزی همانند ما آرزوی موفقیت روز افزون دارند .
        تیم ایزی ترید متشکل شده از 15 جوان با انگیزه قصد دارد تا با آموزش های خود به بسیاری از شما که در در برهه ای از زمان ,  سختی ها و مشقت های داشتن یک شغل مناسب و یک کسب و کار اینترنتی با درآمد ثابت را چشیده اند ، کمکی بزرک‌کرده باشد . </p>
        <p>همانطور که میدانید کاربری فضای مجازی علاوه بر همه ی تفریحات و سرگرمی ها ، درآمد زایی و ایجاد منبع درآمدی ثابت است . ما  پس از طی مسیری سخت و آزمودن روشهای بسیار  ، اکنون بر آن شدیم که آنچه آموخته ایم و به دست آوردیم به صورت خالصانه  در اختیار شما قرار دهیم تا سهمی هر چند کوچک در موفقیت های شما داشته باشیم و خدمتی به هم میهنان عزیز کرده باشیم .</p>
        <p>آموزشهای ما حاصل تجربه یک‌تیم ۱۵ نفره بوده و یقین داریم اگر اراده ی قوی داشته  باشید موفقیت های زیادی را برای شما موجب خواهد شد.
          دوستان عزیز در اینجا یک قانون ساده و البته بسیار مهم وجود دارد : </p>
        <p>فقط افرادی که دست به کار میشوند و اقدام میکنند می توانند رویاهای خود را خلق کنند و این دقیقا راز کسب درآمد از اینترنت هست .</p>
        <p>شما آموزش های گفته شده را به کار گیرید و قدم در راهی بگذارید تا در کمترین زمان ممکن به موفقیت دست پیدا کنید . تیم ما در حال آماده سازی پکیج های گوناگون در زمینه کسب درآمد از اینترنت می باشد ، با ما در این مسیر همراه باشید .</p>
        <p>ما همواره دوش به دوش شما در این مسیر جهت پشتیبانی ، مشاوره و‌ راهنمایی حضور داریم .</p>
        <table style="width: 100%;">
          <tr>
            <td>پشتیبانی ۲۴ ساعته از طریق تلگرام : </td>
            <td><img ng-click="openlink('https://telegram.me/easy_trade')" class="social-icon" src="img/telegram.png" ></td>
          </tr>
          <tr>
            <td>برای  اطلاع از اخبار ، آموزش های جدید از به کانال تلگرام ما مراجعه کنید : </td>
            <td><img ng-click="openlink('https://telegram.me/joinchat/AAAAAEG_ql-_Y6GNuANtyA')" class="social-icon" src="img/telegram.png" ></td>
          </tr>
          <tr>
            <td>در اینستاگرام هم ‌همراه باشید :</td>
            <td><img ng-click="openlink('https://www.instagram.com/_u/EasyTrade2017/')" class="social-icon insta" src="img/insta.png" ></td>
          </tr>
        </table>

        <br><br>
        <p>موفقیت شما عزیزان آرزوی تک تک اعضای تیم easyTrade است .
          پیروز‌و‌سربلند باشید .</p>
      </div>
    </div>
  </ion-content>
</ion-view>

