<ion-view view-title="مقدمه">
  <ion-content  scrollbar-y="true">
    <div class="container">
      <div class="headline">
        <img src="img/intro-detail.png">
      </div>
      <div class="content">
        <p>سلام</p>
        <p> این یک تیتر تکراری است که بارها و بارها آن را شنیده‌اید و در هر فضایی موضوعاتی را دیده‌اید که شخصی ادعا می‌کند که چگونه ثروتمند شویم؟ مطمئنم که این کتاب الکترونیکی ، روشی منحصر به فرد برای ثروتمند شدن از راه درست و بدون سرمایه را به شما پیشنهاد می‌کند</p>
        <p>این پکیج بینظیر با پتانسیل درآمدی فوق العاده و سود 100% تضمینی توسط تیم EasyTrade طراحی شده است . این کتاب حاصل 3 سال تلاش بی وقفه تیم ایزی ترید در حوزه ی کسب درآمد از اینترنت می باشد . </p>
        <p>تیم EasyTrade  راه های متعددی را تجربه کرده است و در این راه شکست های سنگینی را متحمل شده ایم ولی با تلاش و پیگیری به تکنیک هایی برای کسب درآمد اینترنتی دست پیدا کرده ایم که افراد زیادی با استفاده از آن موفق به کسب درآمد شده اند .</p>
        <p>اکنون ما برای به اشتراک گذاشتن این دانش و آوردن لبخند روی لب های شما تمام این آموزش های حرفه ای و تخصصی را به صورت قدم به قدم و با تصویر در اختیار شما قرار داده ایم .</p>
        <p>وقت آن شده است تا سهم خود از دنیای اینترنت را دریافت کنیم  و لذت کسب درآمد اینترنتی را بچشیم.
          اگر هر کسی به هر دلیل بتواند زندگی فوق العاده ای داشته باشد
          حق ندارد آن را تنها برای خود بخواهد.
          هیچ فردایی در کار نیست
          فقط امروز هست که وجود دارد،
          تصمیم بگیرید که میخواهید معمولی باشید یا عالی؟!!!</p>
        <p>شاید از این موضوع خبر نداشته باشید اما
          ﻗﺮار است به زودی زندگی شما  ﯾﮏ ﺗﺤﻮل ﻋﺎﻟﯽ، ﺑﺰرگ و ﺧﺎرق اﻟﻌﺎده رو ﺗﺠﺮبه ﮐنه.
          شما راه ۳ ساله ( یادگیری تکنیک های این سیستم بی نظیر ) را فقط در ۷ روز به آساني طي مي کنيد.
          ما اطمینان داریم که این پکیج زﻧﺪﮔﯽ ﻣﺎﻟﯽ شما را ﺑﻪ ﻣﻌﻨﺎی واﻗﻌﯽ
          ﮐﻠﻤﻪ ﻣﺘﺤﻮل ﻣﯿﮑﻨد شما راﺑﺎ ﻓﺮﺻﺖ ھﺎﯾﯽ آﺷﻨﺎ ﻣﯽ ﮐﻨد ﮐه ﺷﺎﯾﺪ ﻗﺒﻼ ھﯿﭻگونه اطﻼﻋاتی  درباره آن ﻧﺪاﺷته اید ، ﻓﺮﺻﺖ ھﺎ و ﺗﮑﻨﯿﮏ ھﺎﯾﯽ ﮐﻪ می توانند ﺧﯿﻠﯽ ﺳﺮﯾﻊ ﺗﺮ از آنچه که فکرش را بکنید ،شما را ﺑﻪ اھﺪاف و آرزوھﺎﯾﯽ ﮐﻪ دارید برسانند
          ما هر آنچه که برای رسیدن به موفقیت لازم بوده را برای شما
          مهیا کرده ایم حال شما باید از این شرایط بهره ببرید.
        </p>
        <p>تفاوت روش هايي که شما در اين اپلیکیشن با آن آشنا مي شويد با ساير اپلیکیشن ها و  سايت ها در اين است که همه ي اين نکات طبق تجربه ي واقعي در بيش از ۳ سال به دست آمده اند .پس با کمک آنها شما مي توانيد خيلي سريع و مطمئن در کسب و کار اینترنتی خود موفق شويد و ماه ها در وقت ارزشمند خود صرفه جويي کنيد.
        </p>
        <p>اکنون وقت آن فرا رسیده است بصورت واقعی و مثل دیگر کشورهای توسعه یافته شما هم از اینترنت کسب درآمد کنید و از این کسب درآمد بعنوان شغل پردرآمد یاد کنید. هم اکنون به روز ترین ومنحصر به فرد ترین راه  کسب درآمد از  دنیای مجازی به شما آموزش داده میشود.</p>
        <p>در آمد ماهیانه 5 میلیون تومان با استفاده از این آموزش و مهم تر از آن ، با تلاش و کوشش شما دور از دسترس نیست .
          شما فقط نظم داشته باشید و تلاش کنید ،  تمام امور فنی و آموزشی را به ما بسپارید
        </p>
        <p>بیکاری رو فراموش کنید ، کار در منزل بدون نیاز به دفترکار , دانش قبلی , آموزش یا مدرک  . آموزش به صورت گام به گام و با زبان ساده برای یادگیری همه و  مناسب برای تمام سنین جویای کار اعم از زن و مرد. 
          ما از همه این روش ها استفاده کرده و درآمد هم داریم ، ولی قلبا اعتقاد داریم که وظیفه هر انسانی است که دانشی که سبب موفقیت دیگران می شود را به اشتراک بگذارد ، امیدوارم بعد از تهیه این پکیج شما هم مثل سایر کسانی که این پکیج را تهیه کرده اند، به دوستان خوب و ماندگاری برای تیم easyTrade تبدیل شوید .
        </p>
        <p>موفقیت شما آرزوی قلبی ماست</p>
      </div>
    </div>
  </ion-content>
</ion-view>
