<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable main-header" align-title="center">
      <ion-nav-buttons side="left">
        <a ui-sref="app.home"><img class="logo" src="img/logo.png" alt=""></a>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right" id="menu" width="300">
    <div class="sidemenu-header">
      <div class="menu-logo">
        <img src="img/menu-logo1.png" >
      </div>
    </div>
    <ion-content class="has-header" dir="rtl" style="bottom: 40px">
      <div class="sidemenu-content">
        <ul>
          <li><a menu-toggle="right" ui-sref="app.home">فهرست </a></li>
          <li><a menu-toggle="right" ui-sref="app.intro">مقدمه</a></li>
          <li  ng-if="!s1Access"><a  menu-toggle="right" ng-click="buyS1()"> فصل اول : آموزش سیستم <img width="17px" src="img/lock.png" ></a></li>
          <li  ng-if="s1Access"><a  menu-toggle="right" ui-sref="app.seasonOne">فصل اول : آموزش سیستم</a></li>
          <li ng-if="!s2Access"><a  menu-toggle="right" ng-click="buyS2()"> فصل دوم : آموزش برداشت <img width="17px" src="img/lock.png" ></a></li>
          <li ng-if="s2Access"><a  menu-toggle="right" ui-sref="app.seasonTwo">فصل دوم : آموزش برداشت</a></li>
          <!--<li><a menu-close ui-sref="app.aboutThis"> درباره این برنامه</a></li>-->
          <li><a  menu-toggle="right" ui-sref="app.aboutUs">درباره گروه Esay Trade</a></li>
          <li><a  menu-toggle="right" ng-click="exit()"> خروج</a></li>
        </ul>
      </div>

    </ion-content>
    <div class="cr">
      Powered by <span ng-click="openlink('http://www.sepehr.it/')">Sepehr</span>  <span ng-click="openlink('http://www.zagrot.com/')">Zagrot</span> IT Holding
    </div>
  </ion-side-menu>
</ion-side-menus>
