<ion-view view-title="آموزش برداشت">
  <ion-content>
   <div class="container">
     <div class="headline">
       <img src="img/season2.png" >
     </div>
     <div class="content">
       <h4>آموزش نحوه ی حساب باز کردن در صرافی</h4>
       <p>صرافی میهن پی دارای نماد الکترونیک از وزارت صنعت و معدن هست و کاملا
         مورد تایید مراجع قانونی می باشد .
       </p>
       <p>به آدرس زیر جهت ثبت نام مراجعه کنید </p>
       <p>www.mihanpay.info</p>
       <img src="img/bookImg/a1.jpg">
       <p>طبق شکل بالا بر روی عضویت کلیک کنید تا صفحه ی زیر ظاهر شود</p>
       <img src="img/bookImg/a2.jpg">
       <p>مشخصات فوق رو تکمیل کنید و بر روی ثبت کلیک کنید </p>
       <img src="img/bookImg/a3.jpg">
       <p>حالا نام کاربری و رمز رو که در قسمت قبل وارد کردید در این قسمت وارد کنید
         و بر روی ورود کلیک کنید . اکنون برای امنیت بیشتر کار باید فرم احراز هویت
         را تکمیل کنید  .
       </p>
       <img src="img/bookImg/a4.jpg">
       <p>تصویر بالا در قسمت راست - پایین صفحه سایت قرار دارد . بعد از ورود
         به سایت بر روی احراز هویت کلیک کنید و اطلاعات خواسته رو در این قسمت
         تکمیل کنید و مدارک مورد نیاز رو بفرستید .
       </p>
       <img src="img/bookImg/a5.jpg">
       <p>مدارک موردنیاز را در تصویر بالا مشاهده میکنید اکنون بر روی فرم احراز هویت
         کلیک کنید.
       </p>
       <img src="img/bookImg/a6.jpg">
       <p>بعد از کلیک بر روی احراز هویت فرم بالا را مشاهده میکنید . اطلاعات مورد نیاز را به دقت وارد کنید . برای ارسال کارت ملی  یا پاسپورت ابتدا از کارت ملی با گوشی موبایل یک عکس واضح بگیرید و سپس اگر از کامپیوتر استفاده میکنید بر روی Choose File
         کلیک ، تصویر رو آپلود و بر روی ارسال کلیک کنید .
       </p>
       <img src="img/bookImg/a7.jpg">
       <p>معمولا بعد از 24 ساعت تماس گرفته نمیشه و شما باید از طریق شماره ای که
         در قسمت اطلاعات مورد نیاز برای احراز هویت بود با آقای موسی علی اکبری
         تماس بگیرید تا احراز هویت رو برای شما تکمیل کنند .
       </p>
       <h4>آموزش شارژاکانت نئوباکس  :</h4>
       <p>برای شارژ حساب نئوباکس ابتدا باید وارد اکانت خود در سایت میهن پی شوید
         و بعد باید طبق قیمت هایی که هر روز در سایت بروزرسانی میشه پول رو به
         حساب واریز کنید . اینم لیست قیمت های امروز صرافی
       </p>
       <img src="img/bookImg/a8.jpg">
       <p>همینطور که میدونید شما با حساب پیزا  سروکار دارید و همونطور که
         مشاهده میکنید قیمت دلار پیزا 4200 تومان می باشد اگر بخوایم 20 دلار به حساب نئوباکس خودمون بفرستیم ابتدا باید
         20*4200=84000 هزار تومان به یکی از شماره حساب های زیر بفرستیم .

       </p>
       <img src="img/bookImg/a9.jpg">
       <p>بعد از فرستادن مبلغ موردنظر از فیش عکس بگیرید و وارد فرم ثبت سفارش بشید</p>
       <img src="img/bookImg/a10.jpg">
       <img src="img/bookImg/a10-2.jpg">
       <p>گزینه هایی که با پرانتز قرمز (اجباری) هستند رو پر کنید و ارز مورد نظر رو پیزا
         انتخاب کنید و در قسمت موضوع هم بنویسید شارژ اکانت نئوباکس . در قسمت
         توضیحات خاص  هم  نام کاربری و پسورد اکانت نئوباکس رو وارد کنید و اصلا هم نگران چیزی نباشید چون میهن پی مورد تایید است .در نهایت بر روی ارسال کلیک کنید .دقت کنید  که بر روی choose file  کلیک کنید و تصویری فیش واریزی را
         در این قسمت آپلود کنید.
       </p>
       <p>در ضمن بعد از سرمایه گذاری وجه در قسمت  Purchase Balance می باشد
         اکانت شما تا 3 الی 4 ساعت آتی شارژ خواهد شد.
       </p>
       <h4>آموزش برداشت از نئوباکس :</h4>
       <p>برداشت را زمانی میتوانید انجام دهید که پول شما به حد نصاب رسیده باشد یعنی موجودی کافی در اکانت نئوباکس داشته باشید . هنگامی که زمان برداشت از نئوباکس فرا رسید وارد حساب خود در سایت میهن پی شوید وبر روی  فرم تماس با ما کلیک کنید .</p>
       <p>بعد از اینکه بر روی فرم تماس با ما کلیک کردید تصویر زیر ا مشاهده میکنید . </p>
       <img src="img/bookImg/a11.jpg">
       <p>اطلاعات بالا را پر کنید و موضوع را هم مانند تصویر بالا ایمیل برداشت برای نئوباکس وارد کنید و ارسال را بزنید. بعد از 3 الی 4 روز ایمیل برداشت ساخته میشود و در قسمت درخواستهای شما وجود خواهد داشت . </p>
       <p>بعد از کلیک بر روی درخواستهای شما تیکت های شما نمایش داده می شود که برای ما تصویر زیر است که البته مربوط به فروش دلار به میهن پی می باشد.</p>
       <img src="img/bookImg/a12.jpg">
       <p>در تصویر بالا وقتی شما موضوع ایمیل را برداشت برای نئوباکس مشخص می کنید ، برای شما ایمیل پیزا برای نئوباکس نوشته میشود که شما میبایست بر روی این نوشته کلیک کنید  و ایمیل خود را در آنجا دریافت کنید این پروسه همانطور که عرض کردم 3 الی 4 روز زمان میبرد و اگر در قسمت درخواستهای شما دریافت  نکردید با سایت MihanPay در تماس باشید .</p>
       <p>بعد از دریافت ایمیل نوبت به ثبت آن در سایت نئوباکس میرسد که باید طبق دستورات زیر عمل کرد .</p>
       <p>ابتدا وارد اکانت خود در سایت نئوباکس شوید .بعد طبق تصویر زیر بر روی پرسنال کلیک کنید .</p>
       <img src="img/bookImg/a13.jpg">
       <p>این قسمت در سمت چپ صفحه کاربری اکانت شما وجود دارد . بعد تصویر زیر ظاهر میشود.</p>
       <img src="img/bookImg/a14.jpg">
       <p>همانطور که در تصویر بالا میبینید باید ایمیل دریافت شده از میهن پی را در این قسمت وارد کنید ، سپس به انتهای صفحه رجوع کنید </p>
       <img src="img/bookImg/a15.jpg">
       <p>در کادر اشاره شده پسورد  ورود خودتون به اکانت را وارد کنید و بر روی گزینه ای که با فلش اشاره شده کلیک کنید.
         حال نوبت به برداشت وجه میرسد.
       </p>
       <p>هنگامی که موجودی کافی برای برداشت دارید طبق تصویر زیر عمل کنید.</p>
       <img src="img/bookImg/a16.jpg">
       <p>بر روی گزینه ای که در کادر قرار دارد کلیک کنید.</p>
       <img src="img/bookImg/a17.jpg">
       <p>بر روی پیزا کلیک کنید</p>
       <img src="img/bookImg/a18.jpg">
       <p>از تصویر بالا به طور کامل عکس بگیرید چون باید برای میهن پی برای نقد پول بفرستید . بعد بر روی Yes کلیک کنید اگر عملیات موفقیت آمیز بوده حال نوبت به نقد کردن میرسید که برای اینکار باید فرم فروش دلار به میهن پی را پر کنید .T وارد حساب میهن پی شوید و این فرم را با اطلاعات کامل پر کنید .</p>
       <img src="img/bookImg/a19.jpg">
       <p>تمام فیلدهای بالا رو تکمیل کنید و بر روی نوع دلار انتقال داده شده هم کلیک
         کنید و Payza رو انتخاب کنید . و بر روی choose file
         کلیک کنید و عکس گرفته شده از برداشت رو در این قسمت
         آپلود کنید و بر روی ارسال کلیک کنید . در کمتر از 24 ساعت پول به حساب
         بانکی شما انتقال داده میشود .
       </p>
       <p>دوستان توجه کنید  برای سرعت بیشتر در کار  اگر قصد سرمایه گذاری اندک برای سرعت بیشتردارید میتوانید بدون داشتن حساب پیزا اکانت نئوباکستون رو شارژ کنید </p>
       <h4>طریقه شارژ:</h4>
       <p>ابتدا به شماره حساب آقای علی اکبری وجه مد نظر(صرافی 20 دلار به بالا را چنج میکند) رو واریز میکنید سپس فرم ثبت سفارش رو را با موضوع شارژ اکانت نئوباکس پر کنید لازم به ذکر هست که باید در قسمت توضیحات نام کاربری و پسورد نئوباکس رو هم وارد کنید</p>
       <p>توجه مهم: از اونجایی که میهن پی  سرشون خیلی شلوغه  و اینکه نه تنها شما بلکه هزاران نفر مثل شما در حال ساخت حساب و پی گیری هستند   تاکید میکنم از تماس های مکرر و بی دلیل جدا خوداری کنید</p>
       <p>Powered By EasyTrade2017.com</p>
       <p>پیروز و سربلند باشید . </p>
     </div>
   </div>
  </ion-content>
</ion-view>
